.toggle{
    padding-bottom: 1rem;
}
.nav-titulo{
    font-size: 1.5rem;
}
.profile{
    text-align: center;
    .profile-img{
        width: 98%;
    }
}
.main-title{
    padding-bottom: 3rem;
}
.margin-top{
    margin-top: 5rem;
}

.form-group-span{
    font-size: 1.1rem;
    color: red;
    display: none;
}
